{% from "macros/col-title.j2" import col_title %}
{% from "macros/col-body.j2" import col_body, col_body_contacts %}

<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

  <!-- Quilljs stylesheet -->
  <link href="{{ url_for('static', filename='quill/quill.snow.css') }}" rel="stylesheet">


  <title>Just Mailing</title>
</head>

<body>

  {% include 'navbar.html' %}

  {% block content %}{% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ url_for('static', filename='bootstrap/jquery-3.3.1.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/popper.min.js') }}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"></script>
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>

</body>

</html>