<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Just Mailing">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.index') }}">Inicio</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.report') }}">Informe último envío</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.config') }}">Configuración</a> 
            </li>            
        </ul>        
    </div>
</nav>

<div class="row navbar-space"></div>

<!-- ERROR REPORTING -->
<div class="row justify-content-center">
    <div class="col-7">
        {% for msg in get_flashed_messages() %}
        {% if 'INFO' in msg %}
        {% set alert_type = 'alert-primary' %}
        {% elif 'ERROR' in msg %}
        {% set alert_type = 'alert-danger' %}
        {% elif 'ALERTA' in msg %}
        {% set alert_type = 'alert-warning' %}
        {% endif %}

        <div class="alert {{ alert_type }} alert-dismissible fade show mb-1" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
</div>