#logo { 
    height: 50px;
}

.navbar-space {
    margin-top: 100px;
}

.col-title {
    /* See Jinja macro with same name to view CSS inheritance. */
    /* Adjust to card body*/
    margin-bottom: -0.05rem !important;
}

.col-body {
    /* See Jinja macro with same name to view CSS inheritance. */    
}