@media (min-width: 500px) {
    .container{
        max-width: 90%;
    }
}

tr {
    line-height: 12px;
    min-height: 12px;
    height: 12px; 
}

 #preview {    
    border: 1px solid #ccc;
    width: 100%;
    height: 44vh !important;
    overflow-y: scroll;
 }

#file:hover {
    background-color: rgba(10, 160, 247, 0.5);
}

#col-contacts {
    overflow: hidden;
}

#contact-overflow {
    height: 65vh !important;
    overflow-y: scroll;
}

#logo { 
    height: 50px;
}

#upload-form-inner-div {
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    background-color: #FFF;    
}

.navbar-space {
    margin-top: 100px;
}

.col-title {
    /* See Jinja macro with same name to view CSS inheritance. */
    /* Adjust to card body*/
    margin-bottom: -0.05rem !important;
}

.col-body {
    /* See Jinja macro with same name to view CSS inheritance. */    
}

.centerbox-shadow {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    width:100%;
    height:100%;    
    top:0;
    left:0;
    text-align:center;    
    z-index: 900;
}

.centerbox { 
    position:fixed;
    width:100%;
    height:100%;
    margin: auto -50%;
    top:46%;
    left:50%;
    text-align:center;    
    z-index: 1000;
}

.waiting {
    width:8%;
}