{% extends 'base.html' %}

{% block content %}

<div id="config" class="container">

    <div class="row justify-content-center">
        <div class="col-10 col-lg-5 {{ col_title() }}">
            Configuracion
        </div> 
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-5 {{ col_body() }}">            
            <form method="POST" action="{{ url_for('main.config') }}">
                {{ form.csrf_token }}
                {{ form.sender_address.label }} {{ form.sender_address(size=20) }}
                <input type="submit" value="Enviar">
            </form>
        </div>                    
    </div>
</div>

{% endblock %}