{% extends 'base.html' %}

{% block content %}

<div id="main" class="container mt-2">

    <div class="row">
        <div id="col-contacts" class="col-3 col-sm-3 mr-5">
            <!-- Contact list -->
            <div class="row">
                <div class="col {{ col_title() }}">
                    Lista de contactos
                </div>                
            </div>
            <div class="row">
               
                <div class="col {{ col_body() }}">
                    <table class="mx-auto">
                        <tr>
                            <td>
                                <button class="btn btn-primary" onclick="uploadForm()">Agregar</button>                                                        
                            </td>
                            <td>
                                <form method="POST">
                                {{ formDelete.csrf_token }}                                    
                                {{ formDelete.delete_btn(class="btn btn-danger") }}                                                                  
                                </form>
                            </td>
                        </tr>
                    </table>                    
                </div>                
            </div>            
            <div id="contact-overflow" class="row">
                <div  class="col {{ col_body_contacts() }} px-0">                    
                    <table class="table table-striped">
                        {% for recipient in recipients %}
                        <tr class="py-1">
                            <td><img style="width: 15px;" src="{{ url_for('static', filename='img/mail-contact.png') }}"></td>
                            <td><span>{{ recipient }}</span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


        <div class="col ml1">
            <!-- Subject -->
            <div class="row">
                <div class="col {{ col_title() }}">
                    {{ form.subject.label() }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col {{ col_body() }}">
                    <div class="form-group">
                        <input class="form-control" id="subject_tmp" required>
                    </div>
                </div>
            </div>

            <!-- Message -->
            <div class="row">
                <div class="col {{ col_title() }}">
                    {{ form.msg.label() }}
                </div>                
            </div>

            <!-- Editor option -->
            <div id="msg-editor" class="row mb-5">
                <div class="col {{ col_body() }}">
                    <div class="form-group">
                        <div id="editor">

                        </div>
                    </div>
                    <form id="send_form" method="POST">
                        {{ form.csrf_token }}
                        {{ form.subject(class="form-control", type="hidden") }}
                        {{ form.msg(class="form-control", type="hidden") }}
                        {{ form.send_btn(class="btn btn-primary", onclick="waiting()") }}
                    </form>
                </div>
            </div>

            <!-- File upload option-->
            <div id="msg-file" class="row mb-5">
                <div class="col {{ col_body() }}">                    
                                   
                </div>
            </div>
        </div>
    </div>
</div>

<div id="waiting" class="centerbox-shadow">
    <div class="centerbox">
        <img class="waiting" src="{{ url_for('static', filename='img/waiting.webp') }}">        
    </div>
</div>


<div id="upload-form" class="centerbox-shadow">
    <div class="centerbox">        
        <div id="upload-form-inner-div">
            <form id="upload-inner-form" method="post" enctype="multipart/form-data">
                {{ formFile.csrf_token }}
                <div class="form-group">
                    <label>Los contactos deben estar en un fichero de texto plano y cada contacto debe ocupar una línea.</label>
                    {{ formFile.file(class="btn") }}
                </div>
                <div class="form-group">
                    {{ formFile.upload_btn(class="btn btn-primary") }}
                    <button class="btn btn-danger" onclick="hideUploadForm()">Cancelar subida</button>              
                </div>
            </form>
        </div>        
    </div>
</div>



</textarea>

<!-- Quill javascript -->
<script src="{{ url_for('static', filename='quill/quill.js') }}"></script>
<script src="{{ url_for('static', filename='quill/quill.htmlEditButton.min.js') }}"></script>
<script src="{{ url_for('static', filename='quill/quill_init.js') }}"></script>  

<!-- Custom JS-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>  
<script src="{{ url_for('static', filename='js/shared.js') }}"></script>  

{% endblock %}
