{% extends 'base.html' %}

{% block content %}

<div id="main" class="container">

    <div class="row">        
        <div class="col-3 mr-5">
            <!-- Contact list -->
            <div class="row">
                <div class="col col-title">
                    Contact list
                </div>
            </div>
            <div class="row">
                <div class="col col-body">
                    <ul>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                        <li>example@domain.com</li>
                    </ul>
                    
                </div>
            </div>
        </div> 


        <div class="col ml1">
            <!-- Subject -->
            <div class="row">
                <div class="col col-title">
                    Subject
                </div>
            </div>
            <div class="row mb-5">
                <div class="col col-body">
                    This is a subject
                </div>
            </div>

            <!-- Message -->
            <div class="row">
                <div class="col col-title">
                    Message
                </div>
            </div>
            <div class="row mb-5">
                <div class="col col-body">
                    This is a Message
                </div>
            </div>
        </div>               
    </div>
</div>

{% endblock %}