{% extends 'base.html' %}

{% block content %}

<div id="main" class="container">

    <div class="row">        
        <div class="col-3 mr-5">
            <!-- Contact list -->
            <div class="row">
                <div class="col {{ col_title() }}">
                    Lista de contactos
                </div>
            </div>
            <div class="row">
                <div class="col {{ col_body() }}">
                    <ul class="list-group">
                        <li class="list-group-item py-1">example@domain.com</li>
                        <li class="list-group-item py-1">example@domain.com</li>
                        <li class="list-group-item py-1">example@domain.com</li>
                        <li class="list-group-item py-1">example@domain.com</li>
                        <li class="list-group-item py-1">example@domain.com</li>
                        <li class="list-group-item py-1">example@domain.com</li>                        
                    </ul>
                    
                </div>
            </div>
        </div> 


        <div class="col ml1">
            <!-- Subject -->
            <div class="row">
                <div class="col {{ col_title() }}">
                    Asunto
                </div>
            </div>
            <div class="row mb-5">
                <div class="col {{ col_body() }}">
                    Esto es un asunto
                </div>
            </div>

            <!-- Message -->
            <div class="row">
                <div class="col {{ col_title() }}">
                    Cuerpo del mensaje
                </div>
            </div>
            <div class="row mb-5">
                <div class="col {{ col_body() }}">
                    <div class="form-group">                        
                        <div id="editor">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>               
    </div>
</div>

{% endblock %}