{% extends 'base.html' %}

{% block content %}

<div id="report" class="container">

    <div class="row justify-content-center">
        <div class="col-10 col-lg-10 {{ col_title() }}">
            Informe del mailing
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-10 {{ col_body() }}">
            <form method="POST" class="form-inline mb-2">                                
                {{ form.csrf_token }}
                <div class="form-row">
                    <div class="col">{{ form.sender_address(class="form-control", type="email", placeholder="introduzca email...")}}</div>
                    <div class="col">{{ form.send_btn(class="btn btn-primary")}}</div>
                    <div class="col">{{ form.print_btn(class="btn btn-info", onclick="print()")}}</div>
                </div>                       
            </form>
            <table class="table">
                {% for key, value in report.items() %}
                <tr>
                {% if 'INFO' in value %}
                {% set msg_type = 'text-success' %}
                {% elif 'ERROR' in value %}
                {% set msg_type = 'text-danger' %}
                {% endif %}
                    <td>{{ key }}</td><td class="{{ msg_type }}">{{ value }}</td>
                </tr>
                {% endfor %}            
            </table>            
        </div>
    </div>
</div>

{% endblock %}
